backend/.idea
backend/target
backend/.vscode
backend/.mvn
backend/.settings
backend/.project
backend/.classpath
backend/.factorypath
backend/.factorypath
backend/log
frontend/node_modules
frontend/dist
frontend/.idea
frontend/.vscode
frontend/.mvn
frontend/.settings
frontend/.project
frontend/.classpath
frontend/.factorypath
frontend/.factorypath
