@font-face {
  font-family: 'hzgb';
  src: url('./汉真广标.ttf');
}

@font-face {
  font-family: 'Redocn';
  src: url('./Redocn.ttf');
}

@font-face {
  font-family: 'hzgb2';
  src: url('./hzgb2.ttf');
}

@font-face{
  font-family: 'FZXBSK';
  src : url('./FZXBSK.TTF');
}

@font-face{
  font-family: 'FZKTK';
  src : url('./FZKTK.TTF');
}
@font-face{
  font-family: 'Poppins';
  src : url('./Poppins.ttf');
}
@font-face{
  font-family: 'bahnschrift';
  src : url('./bahnschrift.ttf');
}
@font-face{
  font-family: 'PangMenZhengDao';
  src : url('./PangMenZhengDaoBiaoTiTiMianFeiBan-2.ttf');
}
